autopep8==2.0.2
backcall==0.2.0
certifi==2023.5.7
charset-normalizer==2.0.12
chromedriver-py==114.0.5735.90
click==8.0.4
dataclasses==0.6
decorator==5.1.1
Flask==2.0.3
idna==3.4
importlib-metadata==4.8.3
ipdb==0.13.13
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.19.5
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pycodestyle==2.10.0
Pygments==2.14.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2023.3
PyYAML==6.0
requests==2.27.1
selenium==3.141.0
six==1.16.0
tabulate==0.8.10
tomli==1.2.3
traitlets==4.3.3
typing-extensions==4.1.1
urllib3==1.26.16
wcwidth==0.2.6
webdriver-manager==3.7.1
Werkzeug==2.0.3
yml==0.0.1
zipp==3.6.0
